<%- include('partials/header.ejs', { pageTitle: title }) %>

<section class="get-in-touch">
  <h1 class="title">Add your book</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required />
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="email" class="input-text js-input" type="email" required />
      <label class="label" for="email">Author</label>
    </div>
    <div class="form-field col-lg-4">
      <input id="company" class="input-text js-input" type="text" required />
      <label class="label" for="company">Publication Year</label>
    </div>
    <div class="form-field col-lg-4">
      <input id="company" class="input-text js-input" type="text" required />
      <label class="label" for="company">ISBN number</label>
    </div>
    <div class="form-field col-lg-4">
      <input id="phone" class="input-text js-input" type="text" required />
      <label class="label" for="phone">Your rating</label>
    </div>
    <div class="form-field col-lg-12">
      <input id="message" class="input-text js-input" type="text" required />
      <label class="label" for="message"
        >Short Description (under 500 characters)</label
      >
    </div>
    <div class="form-field col-lg-12">
      <input id="message" class="input-text js-input" type="text" required />
      <label class="label" for="message">Your review</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit" />
    </div>
  </form>
</section>

<%- include('partials/footer.ejs') %>
